<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Todas", tipos_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Cadastrar', new_tipo_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Editando #{@tipo.nome}", edit_tipo_path(@tipo), :class => "nav-link active" %>
  </li>
</ul>
<br/>
<%= render 'form', tipo: @tipo %>
