<b>
  Como você vai resolver este problema?
</b>

<p>
As bases do projeto estarão voltadas para as mídias sociais (Facebook, Instagram), recursos eletrônicos (smartphones, tablets, websites), e financiamento coletivo ("crowdfunding"), para conseguir desenvolver e manter a estrutura da plataforma. Diante dos problemas apresentados, a proposta de solução advém da criação do Marketplace onde estarão de um lado os doadores e do outro as instituições onde será possível sincronizar oferta de demanda de acordo com a necessidade, ter um visão geolocalizada das instituições, o que elas fazem e o que necessita, tudo isso com baixo custo de operação, já que a plataforma pretende ter como operadores logísticos os grupos de apoio, e ter de forma transparente para os atores envolvidos.
</p>

<p>
Quando da efetiva doação por parte dos interessados, estes poderão escolher entre as instituições que mais se identificam, e os materiais de doação a serem doados de acordo com a necessidade informada e atualizada, de cada instituição.
</p>

<b>
  Como e porque a solução é inovadora?
</b>

<p>
A inovação desta solução está em resolver um processo que atualmente é custoso e ineficiente. Custoso porque do lado das instituições tem um alto custo de ligação para pedir doação; ineficiente pois as doações muitas vezes não condizem com a necessidade real da instituição. Outro ponto que traz aspectos inovativos são a transparência no processo de doação, facilidade de conhecer os projetos que as entidades atuam e como atuam e principalmente saber onde elas estão.
</p>

<p>
As doações via compra de “Gifts Cards”- impreterivelmente - serão revertidas em produtos. Nenhum valor em dinheiro será repassado para as instituições.
</p>

<p>
Além do estudo de necessidade, e cadastro destas, o monitoramento, com base no histórico de doações, e assistência nas demandas de necessidades das instituições, ou seja, a prestação de contas se dará com o acompanhamento de cada instituição.
</p>

<p>
Quais métricas e modelos de medição vamos usar para saber se o projeto está dando certo ?
</p>

<p>
Na fase de tracionamento o que nos interessa é validar o modelo, incluindo o máximo de instituições e doadores. Nesta fase vamos medir o comportamento de entrada desses dois atores na plataforma (Veio por campanha, indicação, acesso direto) ,algumas dessas estratégias serão medidas para mensuramos o custo de entrega de um ator na plataforma. Ainda nesta fase iremos começar a medir o número de atualização de itens, volume de doação, feedbacks, compartilhamentos nas redes sociais. O objetivo é validar a entrada da plataforma. Será feita uma pesquisa quantitativa e qualitativa para ambos atores.
</p>

<p>
Se a plataforma passar da fase de tracionamento a ideia é buscar indicadores de mercados (Ex.: Market Share, Pay Back, Break Even), Além de continuar medindo os indicadores anteriores.
</p>

<b>
Qual o nosso modelo de negócio?
</b>

<p>
As principais fontes de recursos para desenvolvimento e manutenção da plataforma será inicialmente através de submissão em plataformas de crowdfunding e também de seed capital, podemos considerar que esses recursos serão utilizados na fase de desenvolvimento do protótipo e MVP. Numa segunda etapa, que podemos considerar de tração e operação, o modelo de geração de receita será realizado de 2 formas, a primeira através de contratos com empresas de pequeno e médio porte que possuem interesse em utilizar a plataforma como um meio de responsabilidade social e a segunda através da venda de gifts cards onde um percentual do recurso será destinado a manutenção da plataforma.
</p>
