<b>Qual o problema que queremos resolver?</b>

<p>
Dentre alguns problemas que pretendemos resolver, podemos citar:
</p>

<p>
1º Instituições de apoio social recebem doações que não condizem com as suas necessidades;
</p>

<p>
2º Dificuldade de encontrar onde estão instituições de apoio específico, do que elas precisam, além de saber como podem ser feitas as doações;
</p>

<p>
3º Instituições mais conhecidas conseguem atrair mais doações do que outras mais necessitadas;
</p>

<p>
4º Falta credibilidade no processo de doação em virtude da transparência e resposta de doações anteriores;
</p>

<p>
5º Falta de estrutura emocional, por parte de possíveis doadores, em visitar as instituições, conhecer de perto as suas necessidades e fazer a doação;
</p>

<p>
6º Processo de doar é custoso e é feito através de mobilização social restrita à proximidade.
</p>

<p>
7° Algumas instituições utilizam-se de abordagens pessoais e invasivas para a captação de recurso e fidelização do doador, o que acaba tornando a doação, que deveria ser de forma proativa e impulsionada pela vontade do usuário, algo de cobrança e considerável insistência.
</p>

<b>Quem pode participar?</b>

<p>
Podem participar, a partir do uso da Plataforma Web ou aplicativos para Smartphones, qualquer pessoa interessada em efetuar doações, indivíduos organizados em forma de grupo de apoio social, além de empresas.
</p>

<b>
Por que ele importa?
</b>

<p>
Considerando o Brasil como uma nação de grandes dimensões e proporcionais discrepâncias sociais e financeiras, o projeto de marketplace social vem ao encontro de ser um facilitador e intermediador entre os usuários doadores e as instituições carentes, que possuem singulares e divergentes necessidades.
</p>

<p>
A Plataforma Faz Bem Fazer o se destaca por basilar suas ações em 5 princípios básicos: transparência, coesão, agilidade, simplicidade e isonomia. Transparência porque a plataforma pretende disponibilizar conteúdos de natureza informativa, sobre o processo de prestação e aplicação dos recursos, com o objetivo de estimular a prática do controle social e verificar o efetivo emprego do recurso doado. Coesão porque os doadores saberão exatamente onde os recursos estão sendo aplicado e com o que serão aplicados, esta atividade é de responsabilidade do doador. Agilidade porque será muito mais eficiente em relação ao processo tradicional, além de ser mais simples porque será uma ferramenta acessível e de grande usabilidade para os usuários.
</p>

<p>
Além disso, existem muitas entidades de apoio que contam somente com o suporte de pequenos grupos de pessoas, neste sentido a plataforma poderá contribuir para um processo isonômico, dando visibilidade de modo igualitário e possibilitando que os usuários possam conhecer e ajudar essas instituições desconhecidas do público em geral.
</p>
