<b>O que é a Plataforma Faz Bem Fazer o Bem?</b>

<p>
Constitui-se em construir uma plataforma que aproxima por um lado interessados em ajudar o próximo, sejam eles indivíduos, grupos organizados ou empresas buscando atuar com ações de apoio social, e do outro lado instituições que prestam serviços sociais, sejam atuando com crianças, idosos, portadores de doenças, ou indivíduos rejeitados pela sociedade, entre outros grupos de apoio.
</p>

<p>
A proposta é que esta plataforma tenha como premissas fundamentais: promover um meio de doação facilitada, ter como prioridade a transparência nas atividades executadas, fornecer um processo de doação mais igualitário, isto é, nela todas as instituições terão a mesma possibilidade de receber doação sejam elas as instituições mais conhecidas/tradicionais ou as menos conhecidas da sociedade.
</p>

<b>Como surgiu?</b>

<p>
O núcleo do projeto iniciou-se de conversas entre dois amigos; um que participava de um pequeno grupo de apoio social, levando suprimentos como sopa, pão, biscoito e suco, em geral, a moradores de ruas da cidade de Salvador/BA, além de trabalhos em datas específicas em instituições de apoio social; e um outro que iniciou em um grande grupo de uma arquidiocese, da mesma cidade. Nestas conversas notou-se que as necessidades tanto dos moradores de ruas, como das instituições de apoio, em ter um suporte no processo de doação já que muitas das doações são equivocadas, isto é, receber itens que não são suprem a necessidade imediata, sendo em alguns casos, desnecessárias para certas instituições, gerando acúmulo de estoque, desperdícios, e até mau uso dos itens doados.
</p>

<p>
Dando maiores detalhes sobre as doações, em termos de históricos, há casos em que instituições receberam, no mês de dezembro, próximo ao período do Natal, cerca de cinco mil panetones de doações, entretanto tal instituição tem muita dificuldade em escoar tamanha quantidade de itens, mesmo tendo uma estrutura de ajuda social e procura por parte da sociedade.
</p>

<p>
As discussões foram gerando inquietações entre os dois, que continuaram seus afazeres em seus grupos, e partiram para desenvolver a ideia de um apoio independente destes, buscando aperfeiçoar o apoio dos grupos existentes. A profissionalização e a transparência junto ao público-alvo e instituições estavam sempre à tona nas ideias do projeto.
</p>
