/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require leaflet
 */

@import "bootstrap";


.doar
{
  width: 200px;

  font-weight: bold;
}
.navbar, .navbar a {
  color: #B8B8B8 !important;
}

.navbar-topo {
    background-color: #F5F5F5 !important;
    min-height: 42px;
    border-bottom: 1.5px solid #CFD3DA !important;
}

.navbar-meio {
    background-color: #DAE8FC !important;
    min-height: 52px;
}

.navbar-meio .nav-item {
  width: 160px;
  margin: 12px 64px 0px 16px;
  border-bottom: 2px solid #CBDCF3;
}

.navbar-meio .nav-item a {
  color: #7e7f82 !important;
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
}

body {
  padding-top: 5rem;
}

.starter-template {
  /* padding: 3rem 1.5rem; */
  text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

table thead th {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.table th, .table td {
  vertical-align: middle;
  text-align: center;
}

a, a:visited {
  color: #000;
}

a:focus, a:hover {
  background-color: transparent;
  color: #000;
}

.btn:visited {
  color: #fff;

}

#error_explanation {
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: justify;
}

.carousel-inner{
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  max-height: 355px !important;
}

.carousel-item {
  margin-left: auto;
  margin-right: auto;
  max-height: 355px !important;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 355px !important;
}

.carousel-caption p {
  text-align: center;
}

.carousel-item a, .carousel-item a:visited, .carousel-item a:focus, .carousel-item  a:hover {
  color: #fff;
}

#login-logout {
  float: right;
}

.error {
  border-color: red;
}

.list:hover img {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
     transform:scale(1.1);
}

.table th, .table td {
    border-top: 0;
    padding: 0.75rem;
}

#map {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  text-align: center;
  width: 930px;
  height: 300px;
}

.main-info {
  margin-top: -24px;
  margin-bottom: 16px;
  min-height: 160px;
}

.main-logo {
  margin-left: 64px;
  min-height: 160px;
  min-width: 320px;
  float: left;
}

.main-login {
  float: right;
  width: 630px;
  min-height: 160px;
}

.main-user {
  width: 250px;
  float: left;
  height: 160px;
}

.main-password {
  width: 400px;
  margin: auto;
}
