    <div class="footer">

      <div class="footer-texto">
        <b>Alguma Dúvida?</b>
        <br/>
        <h2>Fale Conosco:</h2>
      </div>

      <div class="footer-links">
        <br/>
        <a class="btn btn-primary" style="width: 150px;" href="#" role="button"><%= fa_icon "envelope" %>&nbsp;</span>E-Mail</a>
        <a class="btn btn-warning" style="width: 150px;" href="#" role="button"><%= fa_icon "phone" %>&nbsp;Telefone</a>
      </div>

    </div>
