  <div class="container">
    <div class="main-info">
      <div class="main-logo">
        <%= link_to image_tag("logo.png"), root_url %>
      </div>

      <div class="main-login">
        <% if ! current_user %>
          <%= render "layouts/login" %>
        <% else %>
          <%= render "layouts/user_info" %>
        <% end %>
      </div>
    </div>
  </div>
