    <nav class="navbar navbar-fixed-top navbar-dark navbar-topo">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to "Quem somos?", sobre_url, :style => "font-style: italic; font-weight: bold;" %>

        <li class="nav-item">
          <%= link_to image_tag("fb.png", size: "16x16"), "https://www.facebook.com/fazbemfazerobemoficial", :target => "_blank" %>
          &nbsp;
          <%= link_to image_tag("twitter.png", size: "16x16"), "https://twitter.com/fazerobem_tw", :target => "_blank" %>
        </li>

        <% if current_user %>
          <li class="nav-item" id='login-logout'>
            <%= link_to('Sair', destroy_user_session_path, :method => :delete, :class => "nav-link") %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="alerta" role="alert">
      <center>Este é apenas um Protótipo em Desenvolvimento. Gostaria de nos ajudar? Contribua com o <a href="https://www.catarse.me/pt/fazbem_fazerobem" target="_blank">Financiamento Coletivo no Catarse</a></center>
    </div>
